.back1 {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
.back1:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 195, 255);
    transform: scale(1.02);
    transition-duration: 500ms;
}


